@use "variables" as *;
@use "mixins" as *;


.navbar {
background: $dark;
  color: $white;
  padding: 15px 40px;
  @include flex-center(space-between);

  .menu a {
    color: $white;
    margin-left: 20px;
    text-decoration: none;

    &:hover {
      color: $hover-yellow;
    }
  }
}
