// Colors
$dark: #111;
$white: #fff;
$light-bg: #f2f4f8;
$primary: #4a63e7;
$hover-yellow: #ffdb4d;
$table-dark: #1f2937;

// Font
$font-main: Arial;

// Radius
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 15px;

// Shadow
$shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
