

body {
background: #f5f6fa;
padding: 20px;
}

.table-container {
width: 100%;
max-width: 1000px;
height: 350px;
overflow-y: auto;
border: 1px solid #ddd;
border-radius: 10px;
margin: auto;
background: white;
position: relative;
overflow-x: visible; 

}

.table-container::-webkit-scrollbar {
width: 6px;
}
.table-container::-webkit-scrollbar-thumb {
background: #ccc;
border-radius: 5px;
}

.custom-table {
width: 100%;
border-collapse: separate;
border-spacing: 0;
}
.custom-table thead th {
background: #2b3a67;
color: white;
padding: 12px;
text-align: left;
position: sticky;
top: 0;
z-index: 10;
font-size: 14px;
white-space: nowrap;  
overflow: hidden;  
text-overflow: ellipsis;  
max-width: 100px; 
}

.sticky-col {
position: sticky;
right: 0;
background: #e8e9ee;
z-index: 9;
}

.custom-table tbody td {
padding: 10px 14px;
border-bottom: 1px solid #eee;
max-width: 150px; 
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
cursor: pointer;
font-size: 14px;
}
.custom-table tbody td.sticky-col {
background: #f4f4f7;
font-weight: 600;
}


.custom-table thead tr th:hover, 
.custom-table tbody tr td:hover{
white-space:normal;
overflow: visible;
text-overflow:initial;
color: #000;
}



.custom-table tbody td.sticky-col:hover {
left: auto;
right: 0;
}

@media (max-width: 600px) {
.custom-table thead th,
.custom-table tbody td {
font-size: 12px;
padding: 8px;
}
.table-container {
height: 260px;
}
}

